<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <div style="position: relative; contain: layout; display: flex; justify-content: space-between;">
     Individual Clients
    <img src="assets/imgs/RLogo.png" style="width: 40% !important;height: 40% !important;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/A-Dashboard"> <i class="fa fa-home"></i>&nbsp;Home</a>
        </li>

        <li class="dropdown">
          <a href="" class="nav-link" data-toggle="dropdown"  aria-expanded="true"><i class="fa fa-money"></i>&nbsp;Loans</a>
          <ul class="dropdown-menu">
              <li><a class="nav-link" routerLink="/Pending-Appraisal-List">Pending appraisals</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="nav-link" >Pending approvals</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="nav-link" routerLink="/Pending-Disbursement-List">Pending disbursements</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="nav-link" routerLink="/Rejected-Loans-List">Rejected loans</a></li>
          </ul>
      </li>

      <li class="dropdown">
        <a href="" class="nav-link" data-toggle="dropdown"  aria-expanded="true"><i class="fas fa-users"></i>&nbsp;Clients</a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" routerLink="/AllClients">All Clients</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="nav-link" routerLink="/Individuals">Individuals</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="nav-link" routerLink="/Entities">Entities</a></li>
        </ul>
    </li>

    
        <li class="nav-item">
          <a class="nav-link" routerLink="/AdminProfile"><i class="fas fa-user"></i>&nbsp;My Details</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link" routerLink="/Logout"><i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;Logout</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/help"><i class="fa fa-question-circle"></i>Help</a> 
        </li>
      </ul>
    </div>
  </nav>



  <div *ngIf="isDisconnected==true" class="alert alert-light">
    <!--connection status starts here-->
        <div>
            <label>No Internet Connection</label>
        </div>
        <hr>
        <div class="circle_Connection"><i class="fa fa-wifi" aria-hidden="true"></i>
          <i class="fa fa-times-circle" class="smallIcon" aria-hidden="true"></i>
        </div>
        <br>
        <label text-wrap>Please check your connection and try again</label>
          <hr>
          <div class="card-text">
              <button class="btn btn-block btn-primary" (click)="Reload()"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh</button>
          </div> 
    </div>

  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
    <p style="color: white;">{{spinnerContent}}</p>
</ngx-spinner>


<div *ngIf="isDisconnected==false" class="container-fluid">

        <h4 class="mat-h1">Individual Clients List</h4>  
        <div class="table-responsive">
            <table datatable class="table table table-striped table-bordered" *ngIf="this.temp">
  
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>National Id</th>
                      <th>PhoneNumber</th>
                      <th>Email</th>
                      <th>Client Type</th>
                       
                      </tr>
                  </thead>
                  <tbody>
                   
                  <tr *ngFor="let items of IndividualClientsList">

                    <td (click)="onView(items.MemberId, items.NationalId)">{{items.FirstName}}&nbsp;{{items.Surname}}&nbsp;{{items.OtherNames}}</td>
                    <td (click)="onView(items.MemberId, items.NationalId)">{{items.NationalId}}</td>
                    <td (click)="onView(items.MemberId, items.NationalId)">{{items.CellNo}}</td>
                    <td (click)="onView(items.MemberId, items.NationalId)">{{items.Email}}</td>
                    <td (click)="onView(items.MemberId, items.NationalId)">{{getClientType(items.ClientTypeId)}}</td>
                  
                  
                          
                  </tr>    
          </tbody>
        
         
        </table>

        </div>
</div>





</div>

  