<div class="container">
<mat-card>
    <div class="row">
        <div class="col-sm-4">
        <img src="assets/imgs/RLogo.png"  
        style="width: 200px;height: 50px;padding-left: 10px;">
      </div>
      <div class="col-sm-4">
        <h1 style="color: green;">Help Center</h1>
       
      </div>

      <div  class="col-sm-4" style="color: white;text-align: right;">
        <a  routerLink="/"><i class="fa fa-home"></i>
        Home</a> 
     </div>
      
    </div>
    
    <hr>
    <div >
<mat-accordion style="padding-right: 5%;" >
<mat-expansion-panel hideToggle>
<mat-expansion-panel-header>
<mat-panel-title>
How to get started
</mat-panel-title>
</mat-expansion-panel-header>
<p>On Home page you can:</p>
<p><b>Login</b> if you have already registered</p>
<p>Or</p>
<p>Click <b>Register</b> to register</p>
</mat-expansion-panel>
<mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>
How to register
</mat-panel-title>
</mat-expansion-panel-header>
<ol>
<li>Click the <b>Register</b> button on the Home page</li>
<li>Select Category, Constituency, Ward then Village and click <b>Next</b> button</li>
<li>On Security details</li>
<ul >
<li>Choose secret question</li>
<li>Enter secret answer</li>
<li>Enter your password</li>
</ul>
</ol>
</mat-expansion-panel>
<mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>
Login
</mat-panel-title>
</mat-expansion-panel-header>
<p>To <b>Login</b> you must have registered!</p>
<ol>
<li>Enter your <b>National Id Number</b></li>
<li>Enter your <b>Password</b></li>
<li>Click <b>Login</b> button</li>
<li>Incase you forgot password click <b>Forgot PIN</b></li>
</ol>
</mat-expansion-panel>
<mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>
Forgot PIN
</mat-panel-title>
</mat-expansion-panel-header>
<p>Click <b>Forgot PIN</b></p>
<p>On a popup window enter your <b>National Id Number</b> then click <b>Ok</b></p>
</mat-expansion-panel>
<mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>
How to apply for the loan
</mat-panel-title>
</mat-expansion-panel-header>
<p>After login being successful, you will be able to see:Apply for mobile loan, My Savings and Loans</p>
<h2>Apply for mobile loan</h2>
<p>The loan limit is Kshs 5,000</p>
<ul>
<li>Click on <b>Apply Loan</b></li>
<li>Fill all the fields on:</li>
<ul>
<li>loan Application and save</li>
<li>collateral and save</li>
<li>Referees and save</li>
</ul>
</ul>
<p> click Save</p>
</mat-expansion-panel>
<mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>
My Loans
</mat-panel-title>
</mat-expansion-panel-header>
<p>Click <b>My Loans</b></p>
<p>You will view all your loans</p>
</mat-expansion-panel>
<mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>
Make Payments
</mat-panel-title>
</mat-expansion-panel-header>
<p>Pay your loan</p>
</mat-expansion-panel>


</mat-accordion>
</div>
</mat-card>
</div>
