<h3>Reset Password</h3>

<div >
    <label>Current Password</label>
    <div class="input-group mb-3">
      <input type="password" class="form-control" [(ngModel)]="currentPassword" >
    </div>
</div>

<div >
    <label>New Password</label>
    <div class="input-group mb-3">
      <input type="password" class="form-control" [(ngModel)]="newPassword" >
    </div>
</div>

<div >
    <label>Confirm New Password</label>
    <div class="input-group mb-3">
      <input type="password" class="form-control" [(ngModel)]="confirmNewPassword" >
    </div>
</div>

<div class="btn-group mr-2" role="group" aria-label="First group" style="float: right;">
    <button type="button" (click)="onChangePassword()" class="btn btn-primary">Change</button>
   
    <button type="button" (click)="onExit()" class="btn btn-danger  ml-2">Cancel</button>
  </div>

