<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 10px;">
    <a class="navbar-brand" href="#"></a>
    <div style="position: relative; contain: layout; display: flex; justify-content: space-between;">
    <img src="assets/imgs/RLogo.png" style="width: 40% !important;height: 40% !important;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Home"> <i class="fa fa-home"></i>&nbsp;Home</a>
        </li>
        <li class="dropdown">
          <a href="" class="nav-link" data-toggle="dropdown"  aria-expanded="true"><i class="fa fa-money"></i>&nbsp;Loans</a>
         
          <ul class="dropdown-menu">
              <li><a class="nav-link" routerLink="/Loans">Apply Loan</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="nav-link" >Loan History</a></li>
          </ul>
      </li>
  
      <li class="nav-item">
          <a class="nav-link" ><i class="fa fa-money" aria-hidden="true"></i>&nbsp;Notifications</a>
      </li>
        
        <li class="dropdown">
          <a href="" class="nav-link" data-toggle="dropdown"  aria-expanded="true"><i class="fas fa-user-circle"></i>&nbsp;{{StoredfirstName}}</a>
         
          <ul class="dropdown-menu">
              <li><a class="nav-link" routerLink="/Account"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;Profile</a></li>
             
          </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Logout"><i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help"><i class="fa fa-question-circle"></i>
          Help</a> 
      </li>
      </ul>
    </div>
  </nav>



  <div *ngIf="isDisconnected==true" class="alert alert-light">
    <!--connection status starts here-->
        <div>
            <label>No Internet Connection</label>
        </div>
        <hr>
        <div class="circle_Connection"><i class="fa fa-wifi" aria-hidden="true"></i>
          <i class="fa fa-times-circle" class="smallIcon" aria-hidden="true"></i>
        </div>
        <br>
        <label text-wrap>Please check your connection and try again</label>
          <hr>
          <div class="card-text">
              <button  (click)="Reload()"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh</button>
          </div> 
    </div>

  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
    <p style="color: white;">{{spinnerContent}}</p>
</ngx-spinner>


<div *ngIf="isDisconnected==false" class="container-fluid">
  <h4 class="mat-h1">Loan Applications</h4>
        
        
        <div class="table-responsive">
            <table datatable class="table table table-striped table-bordered" *ngIf="this.temp">
  
                <thead>
                    <tr>
                      <th>Loan Product</th>
                      <th>Applied Loan</th>
                      <th>Approved Loan</th>
                      <th>Application Date</th>
                      <th>Approval Date</th>
                      <th>Disbursement Date</th>
                      <th>Complete Application</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                   
                  <tr *ngFor="let items of ApplicationList">
                           <td>{{items.Loanproduct}}</td> 
                           <td>{{items.LoanAmout}}</td>
                           <td>Loan Approved</td>
                           <td>{{items.loanApplicationDate | date: 'dd/MM/yyyy'}}</td>
                           <td>{{items.ApprovalDate | date: 'dd/MM/yyyy'}}</td>
                           <td>{{items.DisbursementDate | date: 'dd/MM/yyyy'}}</td>
                           <td>{{items.IsComplete}}</td>
                           <td>{{items.loanStatus}}</td>
                          <td>
                            <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Select
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                              <button class="dropdown-item" type="button" *ngIf="items.loanStatus=='PENDING'" (click)="existingLoanApp(items.LoanId)">Edit</button>
                              <button class="dropdown-item" type="button" (click)="generatePdf(items.LoanId)">View</button>
                            </div>
                          </div>
                          </td>
                  </tr>    
          </tbody>
        
         
        </table>

        </div>
</div>





</div>

  