<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 10px;">
  <a class="navbar-brand" href="#"></a>
  <div style="position: relative; contain: layout; display: flex; justify-content: space-between;">
   Home 
   <img src="assets/imgs/RLogo.png" style="width: 40% !important;height: 40% !important;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/Home"> <i class="fa fa-home"></i>&nbsp;Home</a>
      </li>
      <li class="dropdown">
        <a href="" class="nav-link" data-toggle="dropdown"  aria-expanded="true"><i class="fa fa-money"></i>&nbsp;Loans</a>
       
        <ul class="dropdown-menu">
            <li><a class="nav-link" routerLink="/Loans">Apply Loan</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="nav-link" routerLink="/UserLoanApplication">Loan Applications</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="nav-link" routerLink="/LoansHistory">Loan History</a></li>
        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link" ><i class="fa fa-money" aria-hidden="true"></i>&nbsp;Notifications</a>
    </li>
      
      <li class="dropdown">
        <a *ngIf="ClientTypeId=='2'" href="" class="nav-link" data-toggle="dropdown"  aria-expanded="true"><i class="fas fa-user-circle"></i>&nbsp;{{FullNames}}</a>
        <a *ngIf="ClientTypeId=='1'" href="" class="nav-link" data-toggle="dropdown"  aria-expanded="true"><i class="fas fa-user-circle"></i>&nbsp;{{StoredfirstName}}</a>
       
        
        <ul class="dropdown-menu">
            <li><a class="nav-link" routerLink="/Account"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;Profile</a></li>
           
        </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Logout"><i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help"><i class="fa fa-question-circle"></i>
          Help</a> 
      </li>
    </ul>
  </div>
</nav>

<div  *ngIf="!Connecting&&!isDisconnected">
<div class="row g-4 mb-4" >
  <div class="col-6 col-lg-3">
    <div class="app-card app-card-stat shadow-sm h-100" (click)="MyLoansPage()">
      <div class="app-card-body p-3 p-lg-4">
        <h4 class="stats-type mb-1">Loans</h4>
        <div class="stats-figure">{{totalLoans | currency:' ':true:'1.0'}}</div>
      </div><!--//app-card-body-->
    </div><!--//app-card-->
  </div><!--//col-->
  
  <div class="col-6 col-lg-3">
    <div class="app-card app-card-stat shadow-sm h-100" (click)="MyLoansPage()">
      <div class="app-card-body p-3 p-lg-4">
        <h4 class="stats-type mb-1">Arrears</h4>
        <div class="stats-figure"><b style="font-size: 11px;">ksh.</b>{{totalLoanBalance | currency:' ':true:'1.0'}}</div>
      </div><!--//app-card-body-->
    </div><!--//app-card-->
  </div><!--//col-->

  <div class="col-6 col-lg-3">
    <div class="app-card app-card-stat shadow-sm h-100" (click)="MyLoansPage()">
      <div class="app-card-body p-3 p-lg-4">
        <h4 class="stats-type mb-1">Outstanding Balances</h4>
        <div class="stats-figure"><b style="font-size: 11px;">ksh.</b>{{totalLoanBalance | currency:' ':true:'1.0'}}</div>
      </div><!--//app-card-body-->
    </div><!--//app-card-->
  </div><!--//col-->
  
  <div class="col-6 col-lg-3">
    <div class="app-card app-card-stat shadow-sm h-100" (click)="AllUserApps()">
      <div class="app-card-body p-3 p-lg-4">
        <h4 class="stats-type mb-1">Loan Applications</h4>
        <div class="stats-figure">{{ApplicationList?.length}}</div>
    </div><!--//app-card-->
  </div><!--//col-->
</div>


<!--start-->
<div class="col-12 col-lg-6"   style="margin-top: 10px !important;">
  <div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
    <div class="app-card-header p-3 border-bottom-0">
      <div class="row align-items-center gx-3">
        <div class="col-auto">
    <div class="app-icon-holder">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
      </svg>
    </div><!--//icon-holder-->
          
    </div><!--//col-->
<div class="col-auto">
  <h4 class="app-card-title">Basic Profile</h4>
</div>
</div>
</div>
<div class="app-card-body px-4 w-100">

<div class="item border-bottom py-3">
<div class="row justify-content-between align-items-center">
<div class="col-auto">
  <div class="item-label"><strong>Name </strong></div>
    <div class="item-data">{{FullNames}}</div>
</div><!--//col-->
</div><!--//row-->
</div><!--//item-->
<div class="item border-bottom py-3">
<div class="row justify-content-between align-items-center">
<div class="col-auto">
  <div class="item-label" *ngIf="ClientTypeId=='1'"><strong>National ID Number</strong></div>
  <div class="item-label" *ngIf="ClientTypeId=='2'"><strong>Registration Number</strong></div>
    <div class="item-data">{{natId}}</div>
</div><!--//col-->
</div><!--//row-->
</div><!--//item-->
<div class="item border-bottom py-3">
<div class="row justify-content-between align-items-center">
<div class="col-auto">
  <div class="item-label" *ngIf="ClientTypeId=='1'"><strong>Date of Birth</strong></div>
  <div class="item-label" *ngIf="ClientTypeId=='2'"><strong>Registration Date</strong></div>
    <div class="item-data">{{BusinessRegistrationDate | date: 'dd/MM/yyyy'}}</div>
</div><!--//col-->
</div><!--//row-->
</div><!--//item-->
<div class="item border-bottom py-3">
<div class="row justify-content-between align-items-center">
<div class="col-auto">
  <div class="item-label"><strong>Phone Number</strong></div>
    <div class="item-data">{{TelephoneNumber}}</div>
</div><!--//col-->
</div><!--//row-->
</div><!--//item-->
<div class="item border-bottom py-3">
<div class="row justify-content-between align-items-center">
<div class="col-auto">
  <div class="item-label"><strong>Email Address</strong></div>
    <div class="item-data">{{Email}}</div>
</div><!--//col-->
</div><!--//row-->
</div><!--//item-->
</div><!--//app-card-body-->
<div class="app-card-footer p-4 mt-auto">
<a class="btn app-btn-secondary" (click)="toEditPersonalDetails()">View full profile</a>
</div><!--//app-card-footer-->

</div><!--//app-card-->
</div><!--//col-->

<!--start-->
<div class="col-12 col-lg-6"   style="margin-top: 10px !important;">
  <div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
    <div class="app-card-header p-3 border-bottom-0">
      <div class="row align-items-center gx-3">
        <div class="col-auto">
    <div class="app-icon-holder">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
      </svg>
    </div><!--//icon-holder-->
          
    </div><!--//col-->
<div class="col-auto">
  <h4 class="app-card-title">Business Profile</h4>
</div>
</div>
</div>
<div class="app-card-body px-4 w-100">

<div class="item border-bottom py-3" *ngIf="ClientTypeId=='1'">
<div class="row justify-content-between align-items-center">
<div class="col-auto">
  <div class="item-label"><strong>BusinessName </strong></div>
    <div class="item-data">{{BusinessName}}</div>
</div><!--//col-->
</div><!--//row-->
</div><!--//item-->

<div class="item border-bottom py-3" *ngIf="ClientTypeId=='2'">
  <div class="row justify-content-between align-items-center">
  <div class="col-auto">
    <div class="item-label"><strong>Business KRA </strong></div>
      <div class="item-data">{{KRAPin}}</div>
  </div><!--//col-->
  </div><!--//row-->
  </div><!--//item-->


<div class="item border-bottom py-3">
<div class="row justify-content-between align-items-center">
<div class="col-auto">
  <div class="item-label"><strong>Form Of Business</strong></div>
    <div class="item-data">{{FormOfBusiness}}</div>
</div><!--//col-->
</div><!--//row-->
</div><!--//item-->
<div class="item border-bottom py-3" *ngIf="ClientTypeId=='1'">
<div class="row justify-content-between align-items-center">
<div class="col-auto">
  <div class="item-label"><strong>PhysicalAddress</strong></div>
    <div class="item-data" >{{PhysicalAddress}}</div>
</div><!--//col-->
</div><!--//row-->
</div><!--//item-->
<div class="item border-bottom py-3">
<div class="row justify-content-between align-items-center">
<div class="col-auto">
  <div class="item-label"><strong>Nature Of Business</strong></div>
    <div class="item-data" >{{NatureOfBusiness}}</div>
</div><!--//col-->
</div><!--//row-->
</div><!--//item-->
<div class="item border-bottom py-3" *ngIf="ClientTypeId=='1'">
<div class="row justify-content-between align-items-center">
<div class="col-auto">
  <div class="item-label"><strong>Legal Status</strong></div>
    <div class="item-data">{{LegalStatus}}</div>
</div><!--//col-->
</div><!--//row-->
</div><!--//item-->

<div class="item border-bottom py-3" *ngIf="ClientTypeId=='2'">
  <div class="row justify-content-between align-items-center">
  <div class="col-auto">
    <div class="item-label"><strong>Entity Contact Person</strong></div>
      <div class="item-data">{{ContactPerson}}</div>
  </div><!--//col-->
  </div><!--//row-->
  </div><!--//item-->

  <div class="item border-bottom py-3" *ngIf="ClientTypeId=='2'">
    <div class="row justify-content-between align-items-center">
    <div class="col-auto">
      <div class="item-label"><strong>Contact Person Position</strong></div>
        <div class="item-data">{{ContactPersonPosition}}</div>
    </div><!--//col-->
    </div><!--//row-->
    </div><!--//item-->

</div><!--//app-card-body-->
<div class="app-card-footer p-4 mt-auto">
<a class="btn app-btn-secondary" (click)="toEditBusinessDetails()">View full profile</a>
</div><!--//app-card-footer-->

</div><!--//app-card-->
</div><!--//col-->


<div *ngIf="!isDisconnected">
<div *ngIf="!foundLoans">
    <div class="alert alert-light">
            <label style="color: #161c42;">Please wait..</label>
        <hr>
            <label>Checking Loan status..</label>
            <br>
        </div>
      </div>
  </div>
  <!--
  <div class="row">
    <div class="col-sm-4">
  <div *ngIf="Connecting==false&&!isDisconnected&&foundLoans">
<div class="alert alert-light" *ngIf="loanLimit>0">
        <i class="fa fa-money" aria-hidden="true"></i>
        <label style="font-weight: bold;">&nbsp; Apply for a Mobile Loan</label>
    <hr style="margin-top: 0%;">
    <label style="margin-top: -2.5%;">Your Mobile Loan Limit is:</label>
    <p class="circle"><span style="color: #161c42;">{{loanLimit| currency:'ksh ':true:'1.0'}}</span></p>
    <label text-wrap>Use the Loan Calculator to know the total cost.</label>

    <div *ngIf="!pay">
      <div class="button-group">
        <button class="btn" style="float: left; width: 47.5%; background-color: #1D385F; color: white; font-size: 85%;" (click)="LoanPage()"><i class="fa fa-money" aria-hidden="true"></i>&nbsp; Apply Loan</button>
        <button class="btn" style="float: right; width: 50%; background-color: #1D385F; color: white; font-size: 85%;" (click)="loanCalcPage()"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp; Loan Calculator</button>
      </div>
    </div>
</div>



<div class="alert alert-light" *ngIf="loanLimit<=0">
        <i class="fa fa-money" aria-hidden="true"></i>
      <label style="color: #161c42;font-weight: bold;">&nbsp;Loan Offers</label>
    <hr> 
  <label text-wrap>Borrow loans of up to:</label>
      <p class="circle"><span style="color: #161c42;">{{resMaximumLoan| currency:'ksh ':true:'1.0'}}</span></p>
      <br>
    <label text-wrap>Paying promptly will increase your chances of accessing higher loans.</label>
    <br>
</div>
  </div>
    </div>
    <div class="col-sm-4">
    <div class="alert alert-light" *ngIf="totalLoanBalance>0">
        <i class="fa fa-money" aria-hidden="true"></i>&nbsp;
          <label style="color: #161c42;font-weight: bold;">Upcoming Reminder</label>
      <hr>
      <label text-wrap>You have {{totalLoans}} active loan(s). See balance below:</label>
          <p class="AccountBalanceFont">Ksh.{{totalLoanBalance}}</p>
      <div *ngIf="!pay">
        <div class="button-group">
            <button class="btn btn-info" style="float: left; width: 45%;" (click)="PayPage()"><i class="fa fa-money" aria-hidden="true"></i>&nbsp; Pay Now</button>
            <button class="btn btn-info" style="float: right; width: 45%;" (click)="MyLoansPage()"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp; View details</button>
          </div>
          </div>
      <div *ngIf="pay">      
      <div *ngIf="pay" class="form-group">
          <input type="number" [(ngModel)]="PayAmount" name="PayAmount" type="number" maxlength="7" placeholder="Enter Amount To Pay" class="form-control"/></div>
          <button class="btn btn-info btn-block" (click)="Pay(PayAmount)"><i class="fa fa-money" aria-hidden="true"></i>&nbsp;Pay Now</button>
          <!--<div><button ion-button round block (click)="Pay(PayAmount)" item-start color="purple"><ion-icon name="ios-cash-outline" icon-left></ion-icon>&nbsp;Pay Now</button></div>-->
    <!--</div>
  </div>

<div class="alert alert-light">
  <i class="fa fa-money" aria-hidden="true"></i>&nbsp;
    <label style="color: #161c42;font-weight: bold; margin-top: -2.5%;">My Savings</label>
<hr>
<div class="card-text" *ngIf="fetchingShares"><div class="spinner-grow text-info" role="status">
  <span class="sr-only">Updating balances...</span>
</div>
</div>
<div *ngIf="!fetchingShares">
  <div class="row" *ngFor="let SavingsProduct of SavingsProducts">
      <div class="col">
        {{SavingsProduct.ShareTypeName}} |
      </div>
      <div class="col">
       Balance <i>{{SavingsProduct.Balance | currency:'Kes. ':true:'1.0'}}</i>
      </div>
  </div>
</div>
</div>
    </div>

  <div class="col-sm-4" *ngIf="Connecting==false&&!isDisconnected">
    <div class="alert alert-light">
      <i class="fa fa-money" aria-hidden="true"></i>&nbsp;
        <label style="color: #161c42;font-weight: bold; margin-top: -2.5%;">Loans</label>
    <hr>
    <div class="row">
      <div class="col" style="text-align: right;">
        Mobile Loan Limit |
      </div>
      <div class="col" style="text-align: left;">
        <i>{{loanLimit | currency:'Kes ':true:'1.0'}}</i>
      </div>
    </div>
      <div class="row">
      <div class="col" style="text-align: right;">
        Loan Eligibility |
      </div>
      <div class="col" style="text-align: left;">
        <i>{{loanEligibility.MemberEligibility | currency:'Kes ':true:'1.0'}}</i>
      </div>
      </div>
      <div class="row">
      <div class="col" style="text-align: right;">
        Loan Arrears |
      </div>
      <div class="col" style="text-align: left;">
        <i>{{totalLoanBalance | currency:'Kes ':true:'1.0'}}</i>
      </div>
      </div>
      <div class="row">
      <div class="col" style="text-align: right;">
        Outstanding Loans |
      </div>
      <div class="col" style="text-align: left;">
        <i>{{totalLoanBalance | currency:'Kes ':true:'1.0'}}</i>
      </div>
      </div>
    </div>
  </div>-->

<div *ngIf="isDisconnected==true" class="alert alert-light">
    <!--connection status starts here-->
        <div>
            <label>No Internet Connection</label>
        </div>
        <hr>
        <div class="circle_Connection"><i class="fa fa-wifi" aria-hidden="true"></i>
          <i class="fa fa-times-circle" class="smallIcon" aria-hidden="true"></i>
        </div>
        <br>
        <label text-wrap>Please check your connection and try again</label>
          <hr>
          <div class="card-text">
              <button class="btn btn-block btn-primary" (click)="Reload()"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh</button>
          </div> 
    </div>
</div>
</div>