<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 10px;">
  <a class="navbar-brand" href="#"></a>
  <div style="position: relative; contain: layout; display: flex; justify-content: space-between;">
   My Account
   <img src="assets/imgs/RLogo.png" style="width: 40% !important;height: 40% !important;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/Home"> <i class="fa fa-home"></i>&nbsp;Home</a>
      </li>
      <li class="dropdown">
        <a href="" class="nav-link" data-toggle="dropdown"  aria-expanded="true"><i class="fa fa-money"></i>&nbsp;Loans</a>
       
        <ul class="dropdown-menu">
            <li><a class="nav-link" routerLink="/Loans">Apply Loan</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="nav-link" routerLink="/UserLoanApplication">Loan Applications</a></li>
          <li class="dropdown-divider"></li>
          <li><a class="nav-link" routerLink="/LoansHistory">Loan History</a></li>
        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link" ><i class="fa fa-money" aria-hidden="true"></i>&nbsp;Notifications</a>
    </li>
      
      <li class="dropdown">
        <a *ngIf="ClientTypeId=='2'" href="" class="nav-link" data-toggle="dropdown"  aria-expanded="true"><i class="fas fa-user-circle"></i>&nbsp;{{FullName}}</a>
    <a *ngIf="ClientTypeId=='1'" href="" class="nav-link" data-toggle="dropdown"  aria-expanded="true"><i class="fas fa-user-circle"></i>&nbsp;{{StoredfirstName}}</a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" routerLink="/Account"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;Profile</a></li>
           
        </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Logout"><i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;Logout</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/help"><i class="fa fa-question-circle"></i>
      Help</a> 
  </li>
    </ul>
    
  </div>
</nav>

  
<div class="alert alert-light" style="text-align: left;">
    <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 180%;"></i>&nbsp;<label style="font-size: 80%; font-style: italic;">Full Name</label><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>{{fName}} {{oNames}} {{lName}}</label>
    <br>
    <i class="fa fa-phone" aria-hidden="true" style="font-size: 180%;"></i><label style="font-size: 80%; font-style: italic;">&nbsp;Mobile Number</label><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>{{cellNo}}</label>
    <br>
    <i class="fa fa-address-card-o" aria-hidden="true" style="font-size: 180%;"></i>&nbsp;<label style="font-size: 80%; font-style: italic;">National Id Number</label><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>{{natId}}</label>
    <br>
    <i class="fa fa-calendar" aria-hidden="true" style="font-size: 180%;"></i>&nbsp;<label style="font-size: 80%; font-style: italic;">Date of Birth</label><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>{{dob|date:'dd-MMM-yyyy'}}</label>
    <br>
    <div *ngIf="email && email==''"><i class="fa fa-envelope" aria-hidden="true" style="font-size: 180%; font-style: italic;"></i>&nbsp;<label style="font-size: 80%;">Email</label><br><label>{{email}}</label></div>
</div>